.container {
  position: fixed;
  left: 0;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
}

.content {
  margin-left: 18%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 82%;
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-content {
  margin: 10px 10px 10px 10px;
}

.preformatted {
  overflow: scroll;
  max-height: 93%;
}

.inherit-height {
  height: inherit;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 18%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  overflow-y: scroll;
  border-width: 0px 1px 0px 0px;
  border-color: rgb(133, 137, 143);
  border-style: solid;
}

/* Style sidebar title */
.sidebar h1 {
  padding: 10px 0px 0px 10px;
}

/* Style sidebar title */
.sidebar h1 {
  padding: 10px 0px 0px 10px;
}

#tree i {
  display: none;
}