.app {
  height: 99vh;
  width: 99vw;
  padding-top: 1vh;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 50px;
  width: 15%;
  display: flex;
  border-right: #e9e9e9 1px solid;
  flex-direction: row;
  background: #ffffff;
  box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
  z-index: 2;
  border-radius: 10px 0px 0px 10px;
  z-index: 2;
}

.sidebar-content {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding-left: 10px;
}

/* Style sidebar title */
.sidebar-content h1 {
  margin: 10px 0px 10px 10px;
}

.sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.content {
  flex: 1;
  min-width: 1px;
  background: #ffffff;
  box-shadow: 8px 2px 32px -2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
}

.image-container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
}

.image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.column-flex {
  height: 98%;
  width: 98%;
  margin: 1% 1%;
  display: flex;
  flex-direction: column;
}

.preformatted {
  overflow: scroll;
}
