.app {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 50px;
  width: 12%;
  display: flex;
  border-right: #e9e9e9 1px solid;
  flex-direction: row;
  background: #ffffff;
  box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.sidebar-content {
  flex: 1;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-left: 10px;
}

/* Style sidebar title */
.sidebar-content h1 {
  margin: 10px 0px 10px 10px;
}

.sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.content {
  height: 100%;
  width: 100%;
}

.image-container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
}

.image {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.text-content {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 10px;
}

.preformatted {
  overflow: scroll;
  max-height: 93%;
}
