<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>{{ webpage_title }}</title>
      <style>
         html { margin:0; padding:0; font-size:62.5%; }
         body { max-width:800px; min-width:300px; margin:0 auto; padding:20px 10px; font-size:14px; font-size:1.4em; }
      </style>
   </head>
   <body>
      <link rel="stylesheet" href="../static/marigold.css" />
      <!-- Directory Tree (vakta-js)-->
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/jstree.min.js"></script>
      <!-- Syntax Highlighting (highlight-js)-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
      <div class="container">
         <div class="sidebar">
            <h1>{{ sidebar_headline }}</h1>
            <div id="directory" class="demo"></div>
         </div>
         <div id="content" class="content"></div>
      </div>
      <script>
         function show_asset(path) {
         	 if (path) {
         		 let asset_path = "blob/" + path
         		 let asset_path_decoded = decodeURIComponent(asset_path);

         		 let content = $("#content");

         		 let highlight_js_dict = {
         			 txt: 'language-plaintext',
         			 yml: 'language-yaml',
         			 yaml: 'language-yaml',
         		 }

         		 // Update content
         		 let file_type = path.split('.').pop()
         		 if (file_type) {
         			 if (file_type === "mp4") {
         				 content.html(
         					 `<p><a class='content-link' href=${asset_path} id='content-link'>` +
         					 `    ${asset_path_decoded}` +
         					 `</a></p>` +
         					 `<video class='video' controls>` +
         					 `    <source src=${asset_path} type='video/mp4'>` +
         					 `</video>`
         				 )
         			 }
         			 else if (highlight_js_dict.hasOwnProperty(file_type)) {
         				 jQuery.get(asset_path, function(data) {
         					 content.html(
         						 `<a class='content-link' href=${asset_path} id='content-link'>source</a>` +
         						 `<pre id='preformatted' class='preformatted'>` +
         						 `    <code class=${highlight_js_dict[file_type]}>${data}</code>` +
         						 `</pre>`
         					 );
         					 hljs.highlightAll();
         				 	 $("#preformatted").scrollTop(1e9);
         				 });
         			 }
         			 else {
         				 content.html(
         					 `<a href=${asset_path}>` +
         					 `	 <img class='image' src=${asset_path} alt=${asset_path_decoded}>` +
         					 `</a>`
         				 )
         			 }
         		 }

         	 }
         }

         function get_children(path) {
         	 let children_path = "children/" + path;
         	 var response = '';
         	 $.ajax({
         		 type: "GET",
         		 url: children_path,
         		 async: false,
         		 success: function (resp) {
         			 response = resp;
         		 }
         	 });
         	 return response.children
         }

         (function ($) {
            $.jstree.defaults.conditionalselect = function () { return true; };

            $.jstree.plugins.conditionalselect = function (options, parent) {
               this.select_node = function (obj, supress_event, prevent_open) {
                  if(this.settings.conditionalselect.call(this, this.get_node(obj))) {
                    parent.select_node.call(this, obj, supress_event, prevent_open);
                  }
               };
            };
         })(jQuery);

         $('#directory')
         	.jstree({
               'conditionalselect' : function (node) {
                  return !node.data.is_directory;
               },
               'plugins' : ['conditionalselect'],
         	   'core' : {
                  'data' : get_children("."),
                  'state' : "leaf",
               'themes' : {
                  "name": "default",
                  "dots": false,
                  "arrows": false,
                  "ellipsis": true,
               },
               'check_callback': true,
            }})
            .on('activate_node.jstree', function (e, data) {
               $('#directory').jstree(true).delete_node(data.node.children)
               let is_directory = data.node.data.is_directory
               let is_open = data.node.state.opened
               if (is_open)
                  $('#directory').jstree(true).create_node(data.node, {"text": false, icon: false},
                                                           "last", false, true);
               if (is_directory && !is_open) {
                  const new_children = get_children(data.node.data.path)
                  new_children.forEach((child) => {
                     $('#directory').jstree(true).create_node(data.node, child, "last", false, true);
                  });
               }
               $('#directory').jstree("toggle_node", data.node);
         	})
            .on('open_node.jstree', function (e, data) {
               $('#directory').jstree(true).delete_node(data.node.children)
               let is_directory = data.node.data.is_directory
               let is_open = data.node.state.opened
               if (!is_open)
                  $('#directory').jstree(true).create_node(data.node, {}, "last", false, true);
               if (is_directory && is_open) {
                  const new_children = get_children(data.node.data.path)
                  new_children.forEach((child) => {
                     $('#directory').jstree(true).create_node(data.node, child, "last", false, true);
                  });
               }
         	})
            .on("hover_node.jstree", function (e, data) {
               if (!data.node.data.is_directory)
                  show_asset(data.node.data.path);
         	})
         	.on("dehover_node.jstree", function (e, data) {
         		let instance = $('#directory').jstree(true)
         		let selected = instance.get_selected(true)
         		if (selected.length) {
         			let path = selected[0].data.path;
         		 	if (!selected[0].data.is_directory)
         				show_asset(path);
         		}
         	});

      </script>
   </body>
</html>
